#page1, #page2, #page3 {
    background: url(images/storm.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: black;
    text-align: center;
    font-family: Lobster, serif;
}

#error {
    background-color: #db9999;
    width: 50%;
    margin: 20px auto;
    font-size: 20px;
}

#result {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5% 0;
}

.full-width-slider input {
    display: none !important;
}


.full-width-slider .ui-slider-track {
    margin-left: 15px;
}

    
#uputstvo {
    margin: 30px 30px;
    font-size: 20px;
}